alias gist='nocorrect gist'j
alias gitl='git log --graph --pretty=format:'\''%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%an, %cr)%Creset'\'' --abbrev-commit --date=relative'
alias gitls='gitl --max-count=5'
alias grm='git ls-files --deleted | xargs git rm'
alias gpr='git pull --rebase'
alias gma='git commit -am'
alias gm='git commit -m'
alias gp='git push'
alias gs='git status'
alias gbl="git for-each-ref --count=30 --sort=-committerdate refs/heads/ --format='%(committerdate:short) | %(authorname) | %(refname:short)'"


alias b=bundle
alias be='b exec'
alias bec='be cucumber'
alias ber='be rspec'
alias bes='be spork'
alias besc='bes cucumber'
alias besr='bes rspec'
alias cuc='spring cucumber'
alias spec='spring rspec'
alias fs='foreman start'

#rails
alias rc="rails c"
alias sidekiq="bundle exec sidekiq -q low"

#https://github.com/challengepost/platform/wiki/Setup-Jenkins-CLI
alias jbuild='cd ~/ws/platform && build/schedule_build build  >& /dev/null & '

